<?xml version="1.0" encoding="utf-8"?>
<odoo>
     <record id="action_attendance_report_wizard" model="ir.actions.act_window">
        <field name="name">Monthly Attendance Report</field>
        <field name="res_model">attendance.report.wizard</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <menuitem id="menu_attendance_report_custom"
              name="Attendance Report"
              action="action_attendance_report_wizard"
              parent="hr_attendance.menu_hr_attendance_root"
              sequence="10"/>
</odoo>
