<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hr_employee_excel_field_update"
              name="თანამშრომლის ველების ატვირთვა"
              parent="import_employee_phone_number.menu_importing_employee_phone"
              action="action_hr_employee_excel_field_update_wizard"
              sequence="125"/>
</odoo>
